@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}


.fixed{
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 25px;
}


body{
    background-color: rgb(36, 36, 36);
    font-family: 'Raleway', sans-serif;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 100px; */
}

.logo_and_heading{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0px 7px 6px rgb(247, 78, 161);
    text-shadow: 2px 4px 4px rgb(247, 78, 161);
}

.sosc_heading{
    align-self: center;
}




.sosc_logo{
    display: inline;
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.sosc_logo:hover{
    transform: scale(1.1);
    /* filter: grayscale(0) saturate(100%) brightness(120%) hue-rotate(0deg); */
}

h1{
    display: inline;
    color: whitesmoke;
    text-align: center;
    font-weight: 1.6em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    transition: transform 0.3s ease;
    font-size: 3em;
}

h1:hover{
    transform: scale(1.1);
    color: rgb(247, 78, 161);
}

#container {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15vh;
    margin-right: 15px;
    margin-left: 15px;
}

.card{
    background: linear-gradient(45deg, #007aff,pink, rgb(247, 78, 161));
    background-color: #fff;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #BACDD8;
    transition: transform 0.3s ease;
    border: 0.5px solid rgb(247, 78, 161);
}

.card:hover{
    transform: scale(1.1);
}
.tag{
    padding: 4px 8px;
    border: 1px solid #333;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: center;

}

.name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 14px;
    color: #7F8C9B;
    line-height: 150%;

}

button{
    border: 0.1rem solid rgb(247, 78, 161);
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: rgb(247, 78, 161);
    background-color: whitesmoke;

    margin: 0 auto;
    display: block;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button:focus, button:hover{
    background-color: rgb(247, 78, 161);
    color: rgb(30, 48, 80);
}


.card__details {
    padding: 16px 8px 8px 8px;
    background: pink;
  background-image: linear-gradient(to right, pink, rgb(247, 78, 161));
  color: white;
}

#logo{
    width: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.my-github-link{
    text-decoration: none;
}