{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOSC Card</title>
    <link rel="stylesheet" href="{% static 'card/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="fixed">
        <img src="{% static 'card/logo_grad.png' %}" alt="SOSC logo" class="sosc_logo">
    </div>
    <section class="showcase">
    <header>
    <div class="logo_and_heading">
    <h1 class="sosc_heading">SOSC Core Members</h1>
</div>
</header>
    {% for member in team_members %}
    <div id="container">
        <div class="card">
            <img src="{{ member.img }}" alt="{{ member.name }}" id="member-photo">

            <div class="card__detils">
            <span class="tag">{{ member.roles }}</span>
            <div class="name">{{member.name}}</div>

            <a href="{{ member.github_link }}"><img src="{% static 'card/github.svg' %}" alt="Github Logo" id="logo"></a>
            
            <a href="{{ member.github_link }}" class="my-github-link"><button>My Github</button></a>

            </div>

        </div>
    </div>
    {% endfor %}

</section>

</body>
</html>